@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.App {
      -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    background-color: #fafafa;
    color: #0f1e29;
    font-family: Roboto,sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin: 0;
}
html{
  font-size: 10px;
}
.content {
  padding-left: 110px;
  padding-right: 1.6rem;
}
.header {
  width: 100%;
}
.top-header {
  background-color: #d5281f;
  color: #fff;
  height: 32px;
  align-items: center;
  width: 100%;
  display: flex;
}
.top-header > div {
  display: flex;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.6rem;
  
}
.top-header > div > div {
  margin-right: 24px;
  cursor: pointer;
  position: relative;
  font-family: Roboto, sans-serif;;
}
.bottom-header {
}
.logo {
}
.form-search {
}
.sign-in {
}
.main {
}
.main-header {
}
.main-body {
}
.sidebar-left {
}
.sidebar-right {
}
.sort {
}
.ads-products {
}
.all-products {
}
.footer {
}
.footer-ads {
}
.footer-about {
}
.footer-contact {
}
.footer-top-search {
}
*,
:after,
:before {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
}
